<form action="create" method="POST">
  <h2>Create Page</h2>
  <div class="input-field">
    <input type="text" name="title">
    <label>Todo title</label>
    <button type="submit" class="btn">Create</button>
  </div>
</form>
